/*-----------------------------------------------------------------*\
    
    Info:
        The _fonts.scss contains all the rules specific to font
        types and sizes in this application.

    Index:
        1 - H Tags
        2 - P Tags
        3 - A Tags
        4 - Button Tags
        5 - Li Tags

\*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*\
    1 - H Tags
\*-----------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}


/*-----------------------------------------------------------------*\
    2 - P Tags
\*-----------------------------------------------------------------*/
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
  

/*-----------------------------------------------------------------*\
    3 - A Tags
\*-----------------------------------------------------------------*/
a {
  font-family: 'Montserrat', sans-serif;
}


/*-----------------------------------------------------------------*\
    4 - Button Tags
\*-----------------------------------------------------------------*/
button {
  font-family: 'Montserrat', sans-serif;
}


/*-----------------------------------------------------------------*\
    5 - Li Tags
\*-----------------------------------------------------------------*/
li {
    font-family: 'Roboto', sans-serif;
}






