/*-----------------------------------------------------------------*\
    
    Info:
        The _normalize.scss contains all the base scss to make
        that is standard to the whole application.

    Index:
        1 - Global
        2 - Html & Body
        3 - Lists
        4 - Links
        5 - Buttons
        6 - Input
        7 - Textarea

\*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*\
    1 - Global
\*-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------------------------------*\
    2 - Html & Body
\*-----------------------------------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
}

/*-----------------------------------------------------------------*\
    3 - Lists
\*-----------------------------------------------------------------*/
ul {
  list-style-type: none;
}


/*-----------------------------------------------------------------*\
    4 - Links
\*-----------------------------------------------------------------*/
a {
  text-decoration: none;
}


/*-----------------------------------------------------------------*\
    5 - Buttons
\*-----------------------------------------------------------------*/
button {
    outline: 0;
    cursor: pointer;
}


/*-----------------------------------------------------------------*\
    6 - Input
\*-----------------------------------------------------------------*/
 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
    outline: none;
}



/*-----------------------------------------------------------------*\
    7 - Textarea
\*-----------------------------------------------------------------*/
textarea {
    outline: none;
}









