/*-----------------------------------------------------------------*\
    
    Info:
        The _maps.scss contains all the scss maps/variables used in 
        this application.

    Index:
        1 - Color Maps
        2 - Screenwidth Map

\*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*\
    1 - Color Maps
\*-----------------------------------------------------------------*/
$accents: (
    primary: #993366,
    secondary: #C9C3C3,
    tertiary: #E4F30D,
    _white: #ffffff,
    _black: #000000
);

$darkTheme: (
    primary: #1f2023,
    secondary: #121212,
    tertiary: #070812,
    fontColor: rgba(255, 255, 255, .75)
);

$lightTheme: (
    primary: #F1F9FF,
    secondary: white,
    tertiary: #070812,
    fontColor: rgba(7, 8, 18, .75),
    fontColorSec: rgba(255, 255, 255, .75)
);




/*-----------------------------------------------------------------*\
    2 - Screenwidth Map
\*-----------------------------------------------------------------*/
$screenWidths: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px
);

