  /*-----------------------------------------------------------------*\
    
    Info:
        The _mixins.scss contains all the mixins/helpers used
        in this application.

    Index:
        1 - Imports
        2 - Screenwidth Map
        3 - Flexbox Mixins

\*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*\
    1 - Color Map
\*-----------------------------------------------------------------*/
  @import 'functions';
  
  
/*-----------------------------------------------------------------*\
    2 - Media Query Mixin
\*-----------------------------------------------------------------*/
  @mixin media($type, $size) {
    $query: getQuery($type, $size);
    @media #{$query}  { 
        @content; 
    }
  }


/*-----------------------------------------------------------------*\
    3 - Flexbox Mixins
\*-----------------------------------------------------------------*/
  @mixin flexColumn($arg1, $arg2) {
    display: flex;
    flex-direction: column;
    align-items: $arg1;
    justify-content: $arg2;
  }

  @mixin flexRow($arg1, $arg2) {
    display: flex;
    flex-direction: row;
    align-items: $arg1;
    justify-content: $arg2;
  }
