/*-----------------------------------------------------------------*\
    
    Info:
        The _vars.scss contains all the variables for the 
        application

    Index:
        1 - Transition Timers

\*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*\
    1 - Transition Timers
\*-----------------------------------------------------------------*/
$themeTransitionTime: 1s;   // Theme transition time
$hoverTransitionTime: .5s;  // Hover effect transition time
$toggleTransitionTime: .5s; // Toggle input effect transition time



